#contato{
    font-family: 'Montserrat';
    text-align: center;
}

#voltar-home{
    font-family: 'Montserrat';
    position: relative;
    left: rem;
}

.icon{
    background-attachment: scroll;
}

#icone_whats{
    position: fixed;
    width: 2rem;
    height: 2rem;
    top: 92%;
    right: 1%;
    z-index: 10000;
}  

#mapa{
    Width:1280px;
    Height:451px;
    position: relative;
    right: -30px;
}

#logo{
    height: 114px;
    width: 385px;
    position: relative;
    left: 7px;
    top: 30px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }